body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  canvas {
    border: 1px solid gray; /* Adiciona borda cinza */
    background-color: black; /* Define o fundo como preto */
  }
  